@*
    Vet Create View
*@
@model Veterinarian

@{
    ViewData["Title"] = "Add a New Vet";
}

<div class="container">
    <div class="row justify-content-between vet-details-header">
        <div class="col">
            <h1 class="text-color-blue mb-4 ">Add a New Veterinarian</h1>

        </div>
       
    </div>


    <div class="row ">
        <div class="col-md-4 text-color-blue">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-1 mb-1">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control mb-3 " />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-1 mb-1">
                    <label asp-for="Bio" class="control-label"></label>
                    <textarea asp-for="Bio" class="form-control mb-3 " rows="7"></textarea>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="form-group mt-1 mb-1">
                    <label asp-for="YearsExperience" class="control-label"></label>
                    <input asp-for="YearsExperience" class="form-control mb-3 " />
                    <span asp-validation-for="YearsExperience" class="text-danger"></span>
                </div>
                <div class="form-group mt-1 mb-1">
                    <label asp-for="ImgURL" class="control-label"></label>
                    <input asp-for="ImgURL" class="form-control mb-3 " />
                    <span asp-validation-for="ImgURL" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 mb-4 ">
                    <input type="submit" value="Create" class="btn button-color-apple-blue " />
                    <a class="btn btn-secondary  ms-2" asp-controller="Veterinarian" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>


</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
