@*
    Vet Index
*@
@model IEnumerable<Veterinarian>

@{
    ViewData["Title"] = "Veterinarians";
}

@*Header*@
<div class="container">
    <div class="row justify-content-between vet-details-header">
        <div class="col">
            <h1 class="text-color-blue mb-4 ">Meet Our Team</h1>

        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="col-auto">
                <div class="row align-items-center me-3">
                    <a class="btn button-color-seafoam  " asp-controller="Veterinarian" asp-action="Create">Create New Vet</a>
                </div>
            </div>

        }
    </div>
  
</div>

@*Cards for vet info.  Loop for each one*@
<div class=" mt-5">
    <div class="row  row-cols-4 g-5 h-100  ">
        @foreach (Veterinarian v in Model)
        {
            <div class="col ">
                @*add card in the class below to make borders*@
                <div class="flex-column  border-0 background-color-body">
                    <div class="d-flex justify-content-center">
                        <a class="text-decoration-none " asp-controller="Veterinarian" asp-action="Details" asp-route-id="@v.Id"><img src="@v.ImgURL" class="veterinarian-index-image" /></a>
                    </div>

                    <div class="card-body d-flex align-items-center">
                        <h5 class="card-text mx-auto"><a class="text-decoration-none overflow-hidden text-color-blue" asp-controller="Veterinarian" asp-action="Details" asp-route-id="@v.Id">Dr. @v.Name</a></h5>
                    </div>

                </div>
            </div>
        }
    </div>
</div>