@*
    Vet Index
*@
@model IEnumerable<Veterinarian>

@{
    ViewData["Title"] = "Veterinarians";
}

@*Header*@
<h2>Meet Our Team</h2>

@*Cards for vet info.  Loop for each one*@
<div class="container mt-5">
    <div class="row row-cols-4 g-5 h-100 card-group ">
        @foreach (Veterinarian v in Model)
        {
            <div class="col ">
                <div class="card flex-column h-100 border-0 h-100">
                    <div class="d-flex h-100 justify-content-center align-content-center align-items-center product-display-image-container">
                        <a class="text-decoration-none text-info  h-100 " asp-controller="Veterinarian" asp-action="Details" asp-route-id="@v.Id"><img src="@v.ImgURL" class="product-display-image" style="max-width: 100%; height: auto" /></a>
                    </div>

                    <div class="card-body ">
                        <h6 class="card-title small text-trucate"><a class="text-decoration-none text-info overflow-hidden text-dark" asp-controller="Veterinarian" asp-action="Details" asp-route-id="@v.Id">Dr. @v.Name</a></h6>
                        <div class="card-text small text-truncate block"></div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>