@*
    Patient Create
*@
@model Patient

@{
    ViewData["Title"] = "New Patient Form";
}


<h2>New Patient Form</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-1 mb-1">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 mb-1">
                <label asp-for="Species" class="control-label"></label>
                <input asp-for="Species" class="form-control" />
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 mb-1">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 mb-1">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 mb-1">
                <label asp-for="Medications" class="control-label"></label>
                <input asp-for="Medications" class="form-control" />
                <span asp-validation-for="Medications" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 mb-1">
                <label asp-for="MedicalHistory" class="control-label"></label>
                <input asp-for="MedicalHistory" class="form-control" />
                <span asp-validation-for="MedicalHistory" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 mb-1">
                <label asp-for="ImgURL" class="control-label"></label>
                <input asp-for="ImgURL" class="form-control" />
                <span asp-validation-for="ImgURL" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
